@use 'reset';
$White: #FFFFFF;
$ice: #EFFAFA;
$Greenland-300: #28959F;
$Gray-400: #495057;
$Gray-500: #343A40;

@mixin grid($fit-fill, $minmax, $gap){
    display: grid;
    grid-template-columns: repeat($fit-fill, minmax($minmax, 1fr));
    gap: $gap;
}
@mixin flex($basil, $grow){
    display: flex;
    flex-basis: $basil;
    flex-grow: $grow;
}
.main{
    @include grid(auto-fit, 18rem, 1rem);
    padding: 2.5rem;
    padding-left: 8rem;
    min-height: 100vh;
    &__article{
        grid-column: span 2;
    }
    &__notify-container{
        background-color: $White;
        border-radius: 2rem;
        justify-self: end;
        max-width: 24rem;
    }
}
.section{
    &__span{
        font-size: 0.75em;
    }

    &__container-bottons{
    @include flex(100%, 1);
    }
}

.section__textarea{
grid-row: 80%;
}
.article__header{
    min-height: 6.25rem;
}
.header__img-container{
    width: 9.3rem;
}
picture{
    width: 5rem;
}
@media screen and (max-width: 67rem) {
  .main__article{
    grid-column: span 1;
  }
}
@media screen and (max-width: 768px) {
    .main{
        @include grid(auto-fit, 21.5rem, 1rem);
        padding-left: 2.5rem;
    }
    .main__article{
        justify-self: center;
        width: 100%;
    }
    .notify-container__img-container{
        display: none;
    }
    .main__notify-container{
        justify-self: center;
        max-width: 100%;
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    .main{
        @include grid(auto-fit, 18rem, 0);
    }
    .section__container-bottons{
        display: block;
        }
}
