@use 'reset';
$White: #FFFFFF;
$ice: #EFFAFA;
$Greenland-300: #28959F;
$Gray-400: #495057;
$Gray-500: #343A40;

@mixin grid($fit-fill, $minmax, $gap){
    display: grid;
    grid-template-columns: repeat($fit-fill, minmax($minmax, 1fr));
    gap: $gap;
}
@mixin flex($basil, $grow){
    display: flex;
    flex-basis: $basil;
    flex-grow: $grow;
}
.main{
    @include grid(auto-fit, 18rem, 1rem);
    padding: 2.5rem;
    padding-left: 10rem;
    min-height: 100vh;
    &__article{
        grid-column: span 2;
        width: 100%;
        display: inline-block;
    }
    &__notify-container{
        background-color: $White;
        border-radius: 2rem;
        justify-self: end;
        max-width: 24rem;
    }
}
.header{
    min-height: 20%;
}
.header__img{
        width: 8rem;
}
.section{
    min-height: 80%;
    display: grid;
    grid-template-rows: 3 1fr;
    &__span{
        font-size: 0.75em;
        align-self: end;
    }
    &__container-bottons{
        @include flex(100%, 1);
        justify-content: space-around;
    }
}
@media screen and (max-width: 75rem) {
  .main__article{
    grid-column: span 1;
  }
}
@media screen and (max-width: 800px) {
    .main{
        @include grid(auto-fit, 22rem, 1rem);
        padding-left: 2.5rem;
    }
    .main__article{
        justify-self: center;
        width: 100%;
    }
    .notify-container__img-container{
        display: none;
    }
    .main__notify-container{
        justify-self: center;
        max-width: 100%;
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    .main{
        @include grid(auto-fit, 18rem, 0);
    }
    .section__container-bottons{
        display: block;
        }
}
